<h1>Note List</h1>

<div id="search" class="section">
  <%= form_for(@note_search, :url => {:action => :index}, :method => :get) do |f| %>
    <%= f.label :title, 'Title' %>
    <%= f.text_field :title, :value => @note_search.title %>
    <%= f.submit I18n.t(:search_button) %>
  <% end %>
</div>

<div class="section">
<table class="general">
  <col id="title">
  <col id="user_id">
  <col id="password">
  <col id="url">
  <col class="cmd">
  <col class="cmd">
  <col class="cmd">
  <tr>
    <th>Title</th>
    <th>ID</th>
    <th>Password</th>
    <th>URL</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @notes.each do |note| %>
  <tr>
    <td><%= note.title %></td>
    <td><%= note.my_id %></td>
    <td><%= note.my_password %></td>
    <td><a href="<%= note.url %>" target="_blank"><%= note.url %></td>
    <td><%= link_to image_tag('magnifier.png', :alt=>'Show'), note %></td>
    <td><%= link_to image_tag('pencil.png', :alt=>'Edit'), edit_note_path(note) %></td>
    <td><%= link_to image_tag('trash.png', :alt=>'Destroy'), note, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

</div>

<%= link_to 'New Note', new_note_path %>
