<!DOCTYPE html>
<html>
<head>
  <title>Hunaforgot</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="wrapper">

    <div id="header">
      <div id="logo">HunaForgot</div>

      <div id="user_navi">
        <% if user_signed_in? %>
          Signed in as <%= current_user.email %>
          <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
        <% else %>
          <%= link_to "Sign in", new_user_session_path %>
          
          <% if false %>
          # if you want to use sign up function, "add :registerable" on models/user.rb
          or <%= link_to "Sign up", new_user_registration_path %>
          <% end %>

        <% end %>
      </div>
    </div>

    <div id="content">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      
      <%= yield %>
    </div>

    <div id="footer"></div>
  </div>
</body>
</html>
